xml/UserInfo.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="user">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="id"/>
              <xs:element type="xs:string" name="username"/>
              <xs:element type="xs:string" name="password"/>
              <xs:element name="maps">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="map">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="location"/>
                          <xs:element type="xs:string" name="state"/>
                          <xs:element type="xs:time" name="time"/>
                          <xs:element type="xs:byte" name="achv"/>
                          <xs:element type="xs:byte" name="unlocked"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="bosses">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="boss" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="location"/>
                          <xs:element type="xs:string" name="state"/>
                          <xs:element type="xs:time" name="time"/>
                          <xs:element type="xs:byte" name="achv"/>
                          <xs:element type="xs:byte" name="unlocked"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="achievements">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="achievement" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="location"/>
                          <xs:element type="xs:string" name="state"/>
                          <xs:element type="xs:string" name="link"/>
                          <xs:element type="xs:string" name="description"/>
                          <xs:element type="xs:byte" name="unlocked"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>